/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font: 100%;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*======layout======*/

nav {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 32px;
}

.section-education {
  display: flex;
  padding: 0rem 1rem;
  gap: 0.5rem;
}

.education-container {
  display: flex;
  padding: 2rem 0.5rem;
  flex-direction: column;
  align-items: flex-start;
  width: min(100%, 800px);
  gap: 48px;
  margin-inline: auto;
}

/* =========Components============= */

nav ul {
  display: flex;
  padding: 16px;
  gap: 24px;
}

.experience,
.group-experiences {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 48px;
}

.group-experiences {
  gap: 24px;
}

.one-experience {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4px;
}

.line {
  width: 100%;
  height: 1px;
  display: inline-block;
  order: 3;
}

.one {
  order: 1;
}

.two {
  order: 2;
}

/* =========Style============= */

body {
  background-color: #fafcff;
  font-family: "Inter", sans-serif;
  color: #343538;
}

header,
.seccionhero {
  background-color: #fff;
}

header {
  border-bottom: 1px solid #f8f9fa;
}

nav ul li,
nav ul li a {
  text-decoration: none;
  list-style: none;
}

nav ul li a:visited,
nav ul li a:active {
  color: #687076;
}

.navbottom ul li {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 150% */
  letter-spacing: -0.198px;
  text-decoration: none;
  list-style: none;
}

header {
  border-bottom: 1px solid #f8f9fa;
}

p {
  min-width: fit-content;
}

.line {
  background-color: hsla(214, 32%, 91%, 1);
}

/* * Styles para resolucion de 768px y mayor */

@media (min-width: 768px) {
  nav ul {
    padding: 8px;
    width: 800px;
    margin-inline: auto;
  }

  .group-experiences {
    gap: 8px;
  }

  .one-experience {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .line {
    order: 2;
  }

  .two {
    order: 3;
  }
}
