/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* =========layout============= */

body {
  display: flex;
  flex-direction: column;
  font: inter;
}

h1,
h2,
h3 {
  font-size: 18px;
  font-weight: 500;
}

main,
footer {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.hero {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 32px 16px;
  gap: 32px;
}

.proyectos {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  gap: 24px;
}

/* =========Module============= */

nav ul {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 32px;
}

.herocontent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
  max-width: 570px;
}

.heroimg {
  display: flex;
  align-items: baseline;
}

.cardproyecto,
.cardformacion {
  display: flex;
  flex-direction: column;
  min-width: 295px;
  max-width: 350px;
  padding: 24px 16px 16px 16px;
  gap: 16px;
}

.cardproyecto .header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.cardproyecto a {
  text-align: right;
}

.uxroles {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}

.uxrol {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
}

.uxroles .designer,
.uxroles .researcher {
  padding: 4px 8px;
  flex-wrap: nowrap;
}

.cardformacion img {
  width: 64px;
  height: 64px;
}
/* =========style============= */

body {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: #475569;
}

.hero {
  background: #fafafa;
}

nav ul li {
  list-style-type: none;
  color: rgba(71, 85, 105);
  font-weight: 400;
}

.cardproyecto {
  background-color: #fafafa;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.04);
}

.cardproyecto h3 {
  color: #3c3c43;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
}

.uxroles .designer {
  border-radius: 4px;
  border: 1px solid #f8d87c;
  background: #fffae1;

  color: #946900;
  font-size: 12px;
  line-height: 150%; /* 18px */
}

.uxroles .researcher {
  border-radius: 4px;
  border: 1px solid #e3ccf4;
  background: #f9f1fe;

  color: #793aaf;
  font-size: 12px;
  line-height: 150%; /* 18px */
}

.cardproyecto a {
  color: #069678;
}

/* Styles para resolucion de 1024px y mayor  */

@media (min-width: 1024px) {
  body {
    font-size: 16px;
  }

  .hero {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 127px;
  }

  nav ul {
    justify-content: center;
  }
}
