/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* =========Layout============= */

/* =========Module============= */
nav {
  display: flex;
  flex-direction: column;
}

.herocontent {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 32px;
}

/* =========Components============= */

nav ul {
  display: flex;
  padding: 16px;
  gap: 24px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.descriptionbottom {
  max-width: 350px;
}

.illustration {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

/* =========Utils============= */

/* =========Style============= */

body {
  background-color: #fafbfc;
  font-family: "Inter", sans-serif;
  color: #687076;
  font-size: 14px;
}

header,
.seccionhero {
  background-color: #fff;
  border-bottom: 1px solid #f8f9fa;
}

footer {
  background-color: #202022;
}

nav ul li,
nav ul li a {
  text-decoration: none;
  list-style: none;
}

nav ul li a:visited {
  color: #687076;
}

h1 {
  background: linear-gradient(
    147deg,
    #6a8bfa 2.6%,
    #b14b99 53.71%,
    #ee6b45 69.96%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Styles para resolucion de 768px y mayor  */
@media (min-width: 768px) {
  .herocontent {
    flex-direction: row;
    padding: 24px;
  }
}

/* Styles para resolucion de 1024px y mayor  */

@media (min-width: 1024px) {
  body {
    font-size: 16px;
  }
  nav,
  .herocontent {
    align-items: center;
    justify-content: center;
  }
}
